*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;

}
body{
    background-color: #222;
    color: #fff;
}
.crud{
    margin: 5vh auto;
    width: 80%;
margin-top: 0;
}
.head{
    text-transform: uppercase;
    text-align: center;
    width:80%;
    margin: 10px auto;
    overflow: hidden;
}
input{
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #111;
    height: 30px;
    color: #fff;
    text-align: center;
}
input:focus{
    background-color: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;

}
#total{
    background-color: #a00d02;
    padding: 7px 2px;
    border-radius: 4px;
    margin: 10px 3px;
    letter-spacing: 1.5px;
    width: 22%;
}
#total::before{
    content: 'Total: ';

}
button{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #390053;
    color: #fff;
    transition: .5s;
    scroll-behavior: smooth;
    border: 1px solid #CE00FC;
}
button:hover{
    background-color: #51025f;
    letter-spacing: 1.5px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;

}
.btnSearch  button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
    padding: 5px;
    border-top: 1px solid  ;
    border-bottom: 1px solid  ;

}
td{
    padding: 5px;
    border-bottom: 1px solid  ;
}
#deleteAll{
    margin: 10px 0;
}




footer{
    margin-top: 20vh!important;
    text-align: center;
    font-size: 1rem;
    margin: auto;
    position: relative;
    height: 120px;
    line-height: 100px;
    width: 100%;
    overflow: hidden;
  }
 
  footer a{
    margin: 2px;
    line-height: 80px;
    font-size: 1.25rem;
  }

  footer img{
    border-radius: 50%;
    margin: auto;
    margin-bottom: -30px;
    display: block;
    margin-top: 20px;
    border: 2px solid #51025f;
  }
.mode{
    position: absolute;
    margin: 5px;    
    font-size: 1rem;

}

#morning{
width: 30px;

}
#night{
width: 30px;

}
